flows.json
[
    {
        "id": "5eaf6ab5280755d9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c911f8132ac9fc3e",
        "type": "http request",
        "z": "5eaf6ab5280755d9",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "19cb6095721c76af",
        "type": "inject",
        "z": "5eaf6ab5280755d9",
        "name": "YearOfConstruction",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"208823\"",
        "payloadType": "str",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "29690288b743fcc2",
                "2a7f2de82b7d18be"
            ]
        ]
    },
    {
        "id": "2a7f2de82b7d18be",
        "type": "debug",
        "z": "5eaf6ab5280755d9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "29690288b743fcc2",
        "type": "change",
        "z": "5eaf6ab5280755d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PATCH",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://100.76.111.20:8081/submodels/aHR0cHM6Ly9aZU1BLmRlL2lkcy9zbS8zMTMyXzQxODJfODA0Ml8yOTc5/submodel-elements/YearOfConstruction/$value",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\": \"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "c911f8132ac9fc3e"
            ]
        ]
    }
]