workspace/flows.json
[
    {
        "id": "f1ab33777b1c2620",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f06b0a21c7f1b05",
        "type": "inject",
        "z": "f1ab33777b1c2620",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "7b11b488590b5c00"
            ]
        ]
    },
    {
        "id": "7b11b488590b5c00",
        "type": "debug",
        "z": "f1ab33777b1c2620",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "8509e7f9d2884af9",
        "type": "catch",
        "z": "f1ab33777b1c2620",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 260,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d02d25d71c229dbd",
        "type": "status",
        "z": "f1ab33777b1c2620",
        "name": "",
        "scope": null,
        "x": 340,
        "y": 300,
        "wires": [
            []
        ]
    }
]